@import "../../assets/stylesheets/variables"

.container
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 80px
  .loading
    color: $pink
    font-size: 24px
    font-weight: bold
  & > div
    margin-right: -20px
  & > div:nth-child(2n)
    z-index: 1
