@import "../../assets/stylesheets/variables"

.container
  color: $gray
  font-size: 40px
  font-family: Lato
  font-weight: bold
  text-align: center
  line-height: 68px
  margin-bottom: 80px
  width: 55%
  @media screen and (max-width: $mobile-width)
    width: auto
    font-size: 34px
