@import "./assets/stylesheets/variables"

.container
  height: 100%
  .content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%
  .description
    color: $gray
    font-size: 24px
    text-align: center
    font-family: $font-lato
    line-height: 29px
    width: 70%
    margin-bottom: 40px
    @media screen and (max-width: $mobile-width)
      width: 100%
      font-size: 18px
      padding: 0 10px
